{% block header %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'general:home' %}">GSDI South Africa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'general:home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'general:about' %}">About</a>
            {% if user.is_authenticated %}
              {% if profile.position == 'Team leader' %}
                <a class="nav-item nav-link" href="{% url 'teamleaderworkspace:teamleaderhome' %}">My Workspace</a>
              {% elif profile.position == 'Workshop' %}
                <a class="nav-item nav-link" href="{% url 'workshopworkspace:workshophome' %}">My Workspace</a>
              {% if user.is_staff %} 
                <a class="nav-item nav-link" href="{% url 'teamleaderworkspace:teamleaderhome' %}">Team leader Workspace</a>
                <a class="nav-item nav-link" href="{% url 'teamleaderworkspace:teamleaderhome' %}">Workshop Workspace</a>
                <a class="nav-item nav-link" href="{% url 'managerworkspace:dashboard' %}">My Dashboard</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register New User</a>
              {% endif %}
              <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
            {% endif %}
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'profile' %}">My Profile - {{ user.username }}</a>
            {% endif %}
           <!-- <a class="nav-item nav-link" href="#">Register</a>-->
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% endblock %}